body{
	margin: 0px;
	padding:0px;
}
.content
{
	z-index:2;
	position:relative;
	left:0px;
	top:0px;
    display:grid;
	
    margin: 0px;
	box-sizing: border-box;
	grid-template-columns: 100%;
	width:100%;

}
.background{
	position:fixed;
	z-index: 1;
	background-image: url("./Images/rapping.JPG");
	background-size:cover;
    background-position: center;
    width:100%;
	height:100vh;
	background-repeat: no-repeat;
	background-color: black;
	
}

.header {
	
	grid-area: 1/1;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    color: white;
    
    padding: 0vw;
    width: 100%;
   
    margin: 0px;
    align-content: center;
    font-size: 3vw;
	height: 100vh;
}

.header h1, h3 {
    text-align: right;
    margin:0px;
    padding:2vw;
	padding-top: 4vw;
	box-sizing: border-box;
	color:#00274C;
	
}
.header h3 {
    font-size: 3vw;
    color: #0052A0;
   
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0.5vw;
}

.main{
    grid-area: 2;
    color: #00274C;
	font-family: "Roboto Mono", monospace;
	font-size: 40px;
	font-weight: 800;
	background-color: #C5E2FF;
	box-sizing: border-box;
	text-align: left;
	
}

.intro{
	height:20vh;
	padding-top:3vh;
	padding:2vh 4vw;
	font-size: 30px;
	text-align: right;
}

#start{
	padding:2vw 4vw;
	padding-top:0vw;
	font-size: 30px;
	font-family: "Roboto Mono",monospace;
}
.elevator{
	
	font-size:24px;
	padding:0px 6vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	
}
.stick{
	padding:1vh 4vw;
	font-size: 30px;
	position: sticky;
	top:0;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #C5E2FF;
	margin:0px;
	
	
}
.stick a{
	text-align:center;
	color:#00274C;
	text-decoration: none;
}



.Education{
	background-color: #C08755;
	color:white;
	padding-left:1vw;
	display:grid;
	grid-template-areas: "a a"
		"b c";
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	margin:0px;
	padding:8vh 3vw;
	column-gap: 2vw;
}


.eduhead{
	font-size: 48px;
	grid-area:a;
	margin:0px;
	text-decoration: underline;
	font-family: "Roboto Mono",monospace;
}

.Education h4 {
	font-size: 32px;
	margin:0px;
	padding: 1.5vw 0px 0px 1vw;
	color: #00274C;
}
.Education li{
	font-size:24px;
	margin:0px;
	padding:0px;
	font-family:"Open Sans",sans-serif;
	font-weight: 400;
}

.Education ul{
	margin:0px;
	padding-left:4vw;
}

.Education h3{
	text-align: left;
	font-family: "Roboto Mono", monospace;
	font-size: 28px;
	margin-top:10px;
	padding: 0px 0px 0px 1vw;
	
	
}

.Education p {
	font-size: 24px;
	margin:0px;
	padding-left: 1vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.undergrad{
	grid-area:b;
	margin:0px;
	padding:0px;
}
.graduate{
	grid-area: c;
	margin:0px;
	padding:0px;
}

.work {
	text-align:left;
	margin:0px;
	padding:0px 4vw;
	font-family: "Roboto Mono", monospace;
	font-size:20px;
	display:grid;
}

.workhead h2{
	font-size: 48px;
	text-decoration: underline;
	font-family: "Roboto Mono", monospace;
	padding:1vw 1vw 1vw 0px;
	margin:0px;
	
}

.job h3 {
	text-align: left;
	display:inline;
}

.title {
	font-size:32px;
	padding:0px 1vw;
	margin:0px;
	
}

.company{
	font-size:28px;
	padding:0px 1vw;
	margin:0px;
}
.job p {
	font-size: 24px;
	margin:0px;
	padding: 0px 1vw;
}
.job li {
	padding-bottom: 6px;
	padding-right: 3vw;
}

#Projects{
	background-color: #C08755;
	color: #00274C;
	
}
#Projects h2{
	margin:0px;
	text-decoration:underline;
	font-size: 48px;
	margin-left: 2vw;
	padding-top: 1vw;
	
	
}

#prjtable{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap:20px;
	padding:20px;
	margin:0px;
	
}
.project{
	height:20vw;
	display:grid;
	grid-template-rows: 1fr 55px 1fr;
	background-color: #C08755;
	justify-content: center;
	
}
#prjtable h3 {
	text-align: center;
	margin:0px;
	padding:0px;
	font-size: 30px;
	grid-area:2;
	padding:10px;
	visibility: hidden;
}

.project:hover, #prjtable h3{
	visibility: visible;
	background-color: #C5E2FF;
	
	
}

#Spark img {
	width:100%;
	padding-top:20%;
}

#capstone{
	background-image: url("./Images/puncher.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#ME250{
	background-image: url("./Images/RMP.PNG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#ME350{
	background-image: url("./Images/linkage.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#prjtable a{
	text-decoration: none;
	color:#00274C;
}

.footer{
	grid-area: 3;
	padding: 0px;
	margin:0px;
	background-color:#00274C;
}


.socialgrid {
	display: grid;
    grid-template: 0px / 50px 50px 50px;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
	margin-top:30px;
	margin-bottom:25px;
    
    justify-content: center;
    align-items: center;
}

.socialgrid a {
    margin: 0px;
    padding: 0px;
}

#igphoto {
    grid-area: 1 2 / 1 2;
    padding: 0px;
    width: 50px;
}

#liphoto {
    grid-area: 1 1 / 1 1;
    padding: 0px;
    width: 40px;
    padding-left: 10px;
}

#fbphoto {
    grid-area: 1 3 / 1 3;
    padding: 0px;
    width: 40px;
}

.fineprint{
	color:white;
	text-align: center;
	
	font-family: "Roboto Mono",monospace;
	
}